@import "@workspace/ui/globals.css";
@source "../../../packages/ui";
@source "../../../packages/flow";

@keyframes ticker {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes bar-bounce {
	0% {
		transform: scaleY(0.4);
	}

	100% {
		transform: scaleY(1);
	}
}
