APP_NAME=leith
APP_URL=http://localhost:5173
APP_ENV=development
APP_SECRET=example

CORS_ORIGIN=http://localhost:5173

REMOTION_ENPOINT=https://remotion.leith.studio

WORKER_URL=https://job.leith.studio

BETTER_AUTH_SECRET=example
BETTER_AUTH_URL=http://localhost:8787

GOOGLE_CLIENT_ID=example
GOOGLE_CLIENT_SECRET=example

SESSION_DOMAIN=localhost

R2_BUCKET=leith
R2_ENDPOINT=https://cdn.leith.studio
R2_ACCESS_KEY_ID=example
R2_SECRET_ACCESS_KEY=example

DODO_PAYMENTS_API_KEY=example
DODO_PAYMENTS_WEBHOOK_SECRET=example

VIO_API_KEY=vio_sk_example
